.dodavanjeUTablicu{
	color:red;
     
}

#tablicaPodataka thead{
    margin-top: 20px;
    
    background-color: black;
    color:white;

}

#tablicaPodataka tbody
{
    margin-top: 20px;
    
    background-color: grey;
    color:white;
    
}

tr{cursor: pointer; transition: all .25s ease-in-out}
            .selected{background-color: green; font-weight: bold; color: #fff;}